:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/LufgaBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

.layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lufga", "figtree", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #000;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

h2 {
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

h3 {
  color: #000000;
  text-align: left;
  font-size: 28px;
  line-height: 140%;
  font-weight: 500;
}

